<!-- Begin Navbar -->
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item active">
                <a href="/New" class="nav-link">Add Employee</a>
            </li>
            <li class="nav-item active">
                <a href="/ViewEmployee" class="nav-link">View Employee</a>
            </li>
            <li class="nav-item active">
                <a href="/DeleteEmployee" class="nav-link">Delete Employee</a>
            </li>
        </ul>
    </nav>
</body>